<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Title</title>
    <style>
        body{
            margin: 20px;
            background-image: url(https://image.freepik.com/free-photo/creative-composition-world-book-day_23-2148883765.jpg);
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
</head>
<body >
<form  th:object="${record}" >
<div>
    <h1>Messages sent to email  :</h1>
   <p th:text="${send.sendMail(record.user.getEmail())}"></p>
    <h1 th:text="${record.user.getEmail()}"> Mail send</h1>
</div>
</form>
<button onclick="location.href = '/record'">Back</button>
</body>
</html>