<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Records</title>
    <style>
        body{
            margin: 20px;
            background-image: url(https://image.freepik.com/free-photo/creative-composition-world-book-day_23-2148883765.jpg);
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
</head>
<body>

<div th:insert="index :: menu"></div>

<div th:switch="${records}">
    <h2 th:case="null">No records found!</h2>
    <div th:case="*">
        <h2>Records</h2>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Book Name</th>
                <th></th>
                <th>User Name</th>
                <th></th>
                <th>Status</th>
                <th></th>
                <th>Create Date</th>
                <th></th>
                <th>Close Date</th>
                <th></th>
                <th>Create By</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${records}">
                <td></td>
                <td th:text="${record.book.getBookName()}"></td>
                <td></td>
                <td th:text="${record.user.getUserName()}"></td>
                <td></td>
                <td th:text="${record.status.getStatusName()}"></td>
                <td></td>
                <td th:text="${record.createDate}"></td>
                <td></td>
                <td th:text="${record.closeDate}"></td>
                <td></td>
                <td th:text="${record.createBy}"></td>
                <td></td>
                <td><form method="GET" th:action="@{record/edit/{id}(id=${record.id})}">
                    <button type="submit" name="submit" value="value" class="link-button">Edit</button>
                </form></td>
                <td><form method="GET" th:action="@{record/delete/{id}(id=${record.id})}">
                    <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                </form></td>
                <td  th:style="'color: red'" th:text="${delay.delayDate(record.id)}"></td>
                <td><a th:style="'color: green'" th:href="@{record/delay/{id}(id=${record.id})}">Send mail</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><button onclick="location.href = '/record/new'">Create record</button></p>
</div>
<button onclick="location.href = '/'">Back</button>
</body>
</html>