<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <title>Create record</title>
</head>
<body>
<form th:method="POST" th:action="@{/record}" th:object="${record}" >
  <label class="form-label">Enter book: </label>
  <select th:name="b" >
    <option th:each="book : ${books}"
            th:text="${book.bookName}"
            th:value="${book.id}"

    >
    </option>
  </select>

  <label class="form-label">Enter user: </label>
  <select th:name="u" >
    <option th:each="user : ${users}"
            th:text="${user.userName}"
            th:value="${user.id}"

    >
    </option>
  </select>

  <label class="form-label">Enter status: </label>
  <select th:name="s" >
    <option th:each="stat : ${status}"
            th:text="${stat.statusName}"
            th:value="${stat.id}"

    >
    </option>
  </select>
  <label for="createDate">Enter create date: </label>
  <input type="date" th:field="*{createDate}" id="createDate"/>
  <label for="closeDate">Enter close date: </label>
  <input type="date" th:field="*{closeDate}" id="closeDate"/>
  <label for="createBy">Enter name: </label>
  <input type="text" th:field="*{createBy}" id="createBy"/>
  <br/>
  <input th:type="submit" value="Create!"/>

</form>
<a href="/record">Back</a>
</body>
</html>