<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Start page</title>
    <style>
        body{
            margin: 20px;
            background-image: url(https://image.freepik.com/free-photo/creative-composition-world-book-day_23-2148883765.jpg);
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
</head>
<body >
<div  class="w3-container w3-center"  th:fragment="menu">
    <div class="w3-bar  w3-padding-24" >
<button  onclick="location.href = '/login'">LOGIN</button>
<button  onclick="location.href = '/user'">Users</button>
<button  onclick="location.href = '/status'">Status</button>
<button  onclick="location.href = '/role'">Roles</button>
<button  onclick="location.href = '/record'">Records</button>
<button  onclick="location.href = '/genre'">Genres</button>
<button  onclick="location.href = '/book'">Books</button>
<button  onclick="location.href = 'http://localhost:8080/api/swagger-ui.html'">Documentation</button>
    </div>
</div>
</body>
</html>