<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
    <title>Start page</title>

</head>
<body>
<style>
    body{
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    a{
        background: black;
        color: white;
        padding: 15px;
        max-width: 125px;
        margin: 5px;
    }
</style>
<a href="/login">LOGIN</a>
<a href="/user">Users</a>
<a href="/status">Status</a>
<a href="/role">Roles</a>
<a href="/record">Records</a>
<a href="/genre">Genres</a>
<a href="/book">Books</a>
</body>
</html>