<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Start page</title>

</head>
<body >
<div  class="w3-container w3-center" th:fragment="menu">
<button  onclick="location.href = '/login'">LOGIN</button>
<button  onclick="location.href = '/user'">Users</button>
<button  onclick="location.href = '/status'">Status</button>
<button  onclick="location.href = '/role'">Roles</button>
<button  onclick="location.href = '/record'">Records</button>
<button  onclick="location.href = '/genre'">Genres</button>
<button  onclick="location.href = '/book'">Books</button>
<button  onclick="location.href = 'http://localhost:8080/api/swagger-ui.html'">Documentation</button>
</div>
</body>
</html>