<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Status</title>
</head>

<body>

<div th:insert="index :: menu"></div>

<div th:switch="${status}">
    <h2 th:case="null">No status found!</h2>
    <div th:case="*">
        <h2>Status</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Status Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="st : ${status}">
                <td th:text="${st.id}"></td>
                <td th:text="${st.statusName}"></td>
                <td><form method="GET" th:action="@{status/edit/{id}(id=${st.id})}">
                    <button type="submit" name="submit" value="value" class="link-button">Edit</button>
                </form></td>
                <td><form method="GET" th:action="@{status/delete/{id}(id=${st.id})}">
                    <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                </form></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><button onclick="location.href = '/status/new'">Create status</button></p>
</div>
<button onclick="location.href = '/'">Back</button>
</body>
</html>