<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <title>Create status</title>
</head>
<body>
<form th:method="POST" th:action="@{/status}" th:object="${status}" >
  <label for="statusName">Enter status : </label>
  <input type="text" th:field="*{statusName}" id="statusName"/>

  <br/>
  <input type="submit" value="Create!"/>

</form>
<button onclick="location.href = '/status'">Back</button>
</body>
</html>