<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Roles</title>
</head>
<body>

<div th:insert="index :: menu"></div>

<div th:switch="${roles}">
    <h2 th:case="null">No roles found!</h2>
    <div th:case="*">
        <h2>Roles</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Role Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role : ${roles}">
                <td th:text="${role.id}"></td>
                <td th:text="${role.roleName}"></td>
                <td><form method="GET" th:action="@{role/edit/{id}(id=${role.id})}">
                    <button type="submit" name="submit" value="value" class="link-button">Edit</button>
                </form></td>
                <td><form method="GET" th:action="@{role/delete/{id}(id=${role.id})}">
                    <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                </form></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><button onclick="location.href = '/role/new'">Create role</button></p>
</div>
<button onclick="location.href = '/'">Back</button>
</body>
</html>