<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Books</title>
</head>
<body>

<div th:insert="index :: menu"></div>

<div th:switch="${books}">
    <h2 th:case="null">No books found!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Book Name</th>
                <th>Book Author Name</th>
                <th>Book ISBN</th>
                <th>Book Genre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.bookAuthor}"></td>
                <td th:text="${book.ISBN}"></td>
                <td th:text="${book.typeGenre.genreName}"></td>
                <td><form method="GET" th:action="@{book/edit/{id}(id=${book.id})}">
                    <button type="submit" name="submit" value="value" class="link-button">Edit</button>
                </form></td>
                <td><form method="GET" th:action="@{book/delete/{id}(id=${book.id})}">
                    <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                </form></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><button onclick="location.href = '/book/new'">Create book</button></p>
</div>

<button onclick="location.href = '/book/upload'">Upload Books to File</button>

<button onclick="location.href = '/'">Back</button>
</body>
</html>