<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Update user</title>
    <style>
        body{
            margin: 20px;
            background-image: url(https://image.freepik.com/free-photo/creative-composition-world-book-day_23-2148883765.jpg);
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
</head>
<body >
<form action="#" th:action="@{/user/edit}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="userName">User Name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="User Name">
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label class="form-label">Role : </label>
    <select th:field="*{role.id}">
        <option th:each="role : ${roles}"
                th:text="${role.getRoleName()}"
                th:value="${role.id}"
        >
        </option>
    </select>
    <br/>
    <input type="submit" value="Update user">
</form>
<button onclick="location.href = '/user'">Back</button>
</body>
</html>