<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <title>Create genre</title>
  <style>
    body{
      margin: 20px;
      background-image: url(https://image.freepik.com/free-photo/creative-composition-world-book-day_23-2148883765.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
  </style>
</head>
<body >
<form th:method="POST" th:action="@{/genre}" th:object="${genre}" >
  <label for="genreName">Enter genre : </label>
  <input type="text" th:field="*{genreName}" id="genreName"/>

  <br/>
  <input type="submit" value="Create!"/>

</form>
<button onclick="location.href = '/genre'">Back</button>
</body>
</html>